*{
    box-sizing: border-box;
}
.card{
    border: 2px solid #f5f5f5f6;
    border-radius: 2%;
    box-shadow: 2px 2px 2px 1px #564cc433;
    height: 450px;
}
img.cardPicture{
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
    margin-top: 15px;
}
.cardTitle{
    text-align: start;
    margin: 4px 10px;
}
.cardPrice{
    font-weight: bold;
    text-align: start;
    margin: 4px 15px;
}
