.topbar {
    display: flex;
    justify-content: flex-end;
    font-size: 9px;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid;
  }
  .links {
    display: flex;
    list-style-type: none;
  }
  .link{
    margin: 1px 15px;
    padding: 1px 10px;
  }
  .textLink{
    text-decoration: none;
    color: #080808;
    font-size: 12px;
    
  }
  .logoCart {
    width: 1.1rem;
    ;
  }
  .topbarIntro{
  }  
  .logoandseeker{
    display: flex;
    background-color: #020215;
  }
  .logo {
    width: 90px;
    padding-top: 10px;
    border-radius: 50%; 
  }
  .name{
    size: 12px;
    font-family:monospace;
    margin-left: 5px;
    color: #ffffff;
  }
  .seeker{
    justify-content: flex-end;
  }
  .search{
    border-radius: 5%;
    border: turquoise;
  }
  .lupa{
background-color:#ffffff;
margin-top: 15px;
width: 16px;
  }
.topbarCategories{
  display: flex;
  justify-content: center;
  font-size: 12px;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid; 
}
.textLinkCategories{
  text-decoration: none;
  color: #080808;
  font-weight: bold; 
}
.linkCategories{
  margin: 1px;
  padding: 1px 15px;
}