.container{
  

}

.topbarIntro{


}

.logo {
  width: 60px;
  padding-top: 10px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;  
}

.name{
  text-align: center;
  font-family:monospace;
}


.topbar {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 10px;
    align-items: center;
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;

  }
  .links {
    display: flex;
    list-style-type: none;
  }
  
  .link{
    margin: 2px 30px;
  }
  
  .textLink{
    text-decoration: none;
    color: #080808;
  }
  
  .logoCart {
    width: 1.5rem;
    ;
  }