.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #d8d7d6;
  
  }
  
  .links {
    display: flex;
    list-style-type: none;
    padding:10px;
  }
  
  .link{
    margin: 2px 12px;
  }
  
  .textLink{
    text-decoration: none;
    color: #080808;
  }
  
  
  .logo {
    width: 60px;
    padding: 10px;
    border-radius: 50%;
  }
  
  .logoCart {
    width: 35px;
    padding-right: 10px;
  }