
.main-footer {
    color: white;
    background-color: #020215;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
  }

 .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin: 2%;
 } 
 .inputSuscription{
    padding: 5px 10px;
    outline: none;
 }
 .buttonSuscription{
   font-size: x-small;
   background-color:#c7102e;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
   color:  #ffffff;
   border-radius: 1%;
   padding: 7px 20px;
   margin: 7px;
 }