
.main-footer {
    color: white;
    background-color: #020215;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .row{
   display: grid;
   grid-template-columns: 40% 20% 40%;
} 
.col{
   padding: 20px 20px;

}

  .adress{
     text-align: center;
  }
  .icon{
   background-color: #ffffff;
   border-radius: 50%;
   width: 30px;
   padding: 1px 1px;
   margin: 10px;
  }
 .inputSuscription{
    padding: 5px 1px;
    outline: none;
    width: 70%;
 }
 .buttonSuscription{
   font-size: x-small;
   background-color:#c7102e;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
   color:  #ffffff;
   border-radius: 1%;
   padding: 9px 10px;
   margin: 7px;
   width: 50%;
 }