.itemCount{  

}

.countProducts{
    display: flex;
    justify-content:space-around;
    padding: 0px 50px;   
    
}

.subtractProducts{
    background-color:#ffffff;
    color:#030318;
    border: none;    
}
   
.addProducts{
    background-color:#ffffff;
    color:#030318;
    border: none;
}

.botonAddToCart{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.addToCart{
    
    background-color:#ffffff;
    color:  #030318;
  



}