.cardConteiner{
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-gap: 45px;
    margin: 5%;

}
@media only screen and (min-width: 768px) {
    .cardConteiner{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 55px;
        margin: 4%;

}}